.first {
    border-style: solid ;
    border-width: 10px;
    border-color: #f80505;
    border-radius: 100px; 
    background-color: rgb(98, 0, 0) ;
}
.second {
    border-style: solid ;
    border-width: 10px;
    border-color: rgb(255, 0, 0);
    border-radius: 100px;
    background-color: rgb(98, 0, 0); 
}